.button {
  cursor: pointer;

  font-size: 1em;
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  border: none;
  border-radius: 10px;

  background-color: var(--button-color);
  color: white;
  padding: 1em 2em;

  transition: all .25s ease;
}

.button:hover {
  transform: scale(1.1);
  background-color: #36a8ff;
}