.border {
  border: solid var(--border-color);
  border-width: 1px 0;
  background: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav {
  overflow: scroll;
}

.nav ul{
  display: flex;
}

.nav ul > li {
  display: inline-block;
  padding: 1rem;
  border-left: 1px solid var(--border-color);
}

.nav ul > li:last-child {
  border-right: 1px solid var(--border-color);
}


.hover {
  display: inline-block;
  position: relative;
}

.hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--slight-dark-blue-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}